@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    overflow: hidden;
}

.bg-jumbotron{
    background: radial-gradient(circle at 50% -20.71%, #d1fff8 0, #befff6 10%, #a7fff4 20%, #8dfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff5 70%, #00d6f9 80%, #00cefd 90%, #00c6ff 100%);
    height: 100vh;
}

.mt-n4{
    margin-top: -1.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster', cursive;
}

.icon-social>a>i {
    font-size: 2rem;
    color: white;
}

.margin {
    margin-top: 5rem;
}

#icon-link { 
    margin-top: 25% !important;
}
 /* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (max-width: 576px) { 
    .icon-social>a>i {
        font-size: 1.5rem;
        color: white;
    }
    .margin {
        margin-top: 0;
    }
    body{
        overflow: auto;
        height: auto;
        background-size: cover;
    }
    #icon-link {
        margin-top: 0 !important;
    }
}

 /* Dispositivos médios (tablets com 768px ou mais) */
@media (max-width: 768px) { 
    
}

 /* Dispositivos large (desktops com 992px ou mais) */
@media (max-width: 992px) { 
   
 }

 /* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (max-width: 1200px) { 
   
 }

 @media (max-height: 610px) { 
    .img-phone {
        height: 5rem;
    }
}