body {  
    overflow: hidden;
}

bg-jumbotron {
    background: linear-gradient(to right,#800000,#8B0000,#B22222, #FF0000);
    height: 100vh;
}


 /* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (max-width: 576px) { 
    .display-4 {
        font-size: 2rem !important;
    }
 }

 /* Dispositivos médios (tablets com 768px ou mais) */
@media (max-width: 768px) { 
    
 }

 /* Dispositivos large (desktops com 992px ou mais) */
@media (max-width: 992px) { 
    
 }

 /* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (max-width: 1200px) { 
    
 }

